/* wark sans fornt from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* font family */
*{
    font-family: 'Work Sans', sans-serif;
}


/* button related style */
.button-primary{

}


/* header related color */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner related style */
.banner-description{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-header{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-contant{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}